* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.header-container {
  background-color: rgb(15, 15, 65);
  color: rgb(35, 106, 237);
}
.header-container h1:hover {
  color: rgb(110, 154, 235);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin-inline: auto;
  padding: 20px 40px;
}
.header-menu {
  display: flex;
  gap: 10px;
}
.header-menu a {
  font-size: 20px;
}
.header-menu a:hover {
  color: rgb(110, 154, 235);
}
.header-menu-mobile {
  background-image: url("menu_FILL0_wght400_GRAD0_opsz48.svg");
}
.main {
  display: grid;
  gap: 100px;
  padding: 40px 20px;
  background-color: rgb(30, 142, 183);
}
article {
  display: grid;
  border: 4px solid white;
  padding: 20px;
  gap: 20px;
  transform: translate3d(-50px, 0, 0);
  transition: 1s;
  opacity: 0;
}
article a {
  background-color: rgb(52, 156, 52);
  font-size: 20px;
  padding: 15px 30px;
  color: rgb(0, 22, 0);
  border-radius: 4px;
  align-self: flex-start;
  justify-self: start;
  text-align: start;
}
article a:hover {
  color: rgb(120, 193, 120);
  background-color: rgb(3, 42, 3);
}
article.ativar {
  transform: translate3d(0px, 0, 0);
  opacity: 1;
}
dl {
  background-color: white;
  padding: 40px 20px;
  border: 4px solid black;
}
dt {
  padding: 20px;
  font-size: 22px;
}
dd {
  padding: 10px;
  font-size: 18px;
  display: none;
}
dd.ativo {
  display: block;

  animation: dt 1s;
}
.footer-container {
  background-color: rgb(15, 15, 65);
  color: rgb(35, 106, 237);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin-inline: auto;
  padding: 20px 40px;
}

@keyframes dt {
  0% {
    transform: translate3d(-60px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }
}
